<!-- header.html -->
			
<!-- header navbar starts -->
<template name="header">
	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<!-- page title -->
			<a class="navbar-brand" href="{{pathFor 'postsList'}}">Citadel</a>
		</div>
		<div class="collapse navbar-collapse" id="navigation">
			<!-- submit post -->
			<ul class="nav navbar-nav">
				{{#if currentUser}}<li><a href="{{pathFor 'postSubmit'}}">Submit Post</a></li>{{/if}}
			</ul>
			<!-- login dropdown -->
			<ul class="nav navbar-nav navbar-right">
				{{> loginButtons}}
			</ul>
		</div>
	</nav>
</template>
<!-- header navbar ends -->